<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>PerceptiFace: Detect Your Emotion</h1>
        <h2>Choose an Option</h2>
        <div class="buttons">
            <a href="{{ url_for('webcam') }}" class="btn">Real-time Detection</a>
            <a href="{{ url_for('upload_page') }}" class="btn">Upload Image</a>
        </div>
    </div>
</body>
</html>
